# basic and cli
rich
typer
colorama
markdown

# system, input, hardware
keyboard
pyclip
sounddevice
watchdog

# network and api 
websockets
openai
httpx

# data process
numpy
numba
pypinyin
srt

# tray and image
pystray
Pillow
tkhtmlview

# build
pyinstaller
